<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>SVN Manage List</title>
    </head>
    <body>
        <ul>
            <% @dirlist.each do |d| %>
                <li>
                    <a href="/svn/list/<%= d %>">
                    <%= d %> 
                </li>
            <% end %>
        </ul>
    </body>
</html>
