<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>SVN Manage List</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="/svn/list/<%= @name %>">
                    SELECT
                </a>
            </li>
            <li>
                <a href="/svn/add" >
                    ADD
                </a>
            </li>
            <li>
                <a href="/svn/list/<%= @name %>">
                    DELETE
                </a>
            </li>
        </ul>
    </body>
</html>
